Django==1.7.2
Markdown==2.5.2
SQLAlchemy==0.9.8
beautifulsoup4==4.3.2
dj-database-url==0.3.0
dj-static==0.0.6
django-crispy-forms==1.4.0
django-postgrespool==0.3.0
django-toolbelt==0.0.1
gunicorn==19.1.1
psycopg2==2.5.4
static3==0.5.1
whitenoise==1.0.6
