{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        <h2>Site completion</h2>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                {{ percent }}%
            </div>
        </div>
        <p>The site is fully functional, but not all data has been entered. It currently indexes {{ number }} out of the {{ total }} maneuvers in the <em>Tome of Battle.</em></p>

        <h2 id="about">About This Site</h2>

        <p>This site contains and presents data from the <em>Tome of Battle: the Book of Nine Swords</em>, intended to supplement access to the physical book.</p>
        <p>Previously, the information has been made publicly available by <em>Wizards of the Coast</em> only in the form of maneuver cards (see <a href="{% url "search_engine.views.index" %}#links">links</a>), this site provides indexes and filtering options for the information they contain.</p>

        <h2 id="changes">Changes from the Text of the Book</h2>

        <p>The maneuver texts include all relevant modifications recommended by the <i>Unofficial Errata Project</i> for the Tome of Battle (see <a href="{% url "search_engine.views.index" %}#links">links</a>). </p>

        <h2>Webmaster</h2>
        <p>This site is created and run by Eiríkur Ernir Þorsteinsson.</p>

        <p>I started playing D&D 3.5 about a week before the game's fourth edition came out. I bought the Tome of Battle on April 12, 2009. Of all the books I own, it is the one that has suffered the greatest number of sticky notes.</p>

        <h2 id="legal">Legal Stuff</h2>

        <p><em>Tome of Battle: the Book of Nine Swords</em> is a trademark of Wizards of the Coast, Inc.. Further, the book is protected under the copyright laws of the United States of America. </p>

        <p>However, I (the author of this website) believe the construction of a search engine such as this one falls under the <a href="http://en.wikipedia.org/wiki/Fair_use">fair use exception</a> of copyright law. The site is not run for profit, it only uses content that is available online (see <a href="#links">links</a>), and is very unlikely to impact the copyright holder's ability to profit from the book. The product line the book belongs to has been discontinued and the whole site is rather useless to someone who does not own the book anyway. </p>

        <p>If you are a representative of the copyright holder and find that the existence of the site is somehow not in your interest, drop me a line and I'll take down the offending material.</p>

        <h3 id="license">GNU General Public License</h3>
        <p>This website is an open source program, released under the <em>GNU General Public License, version 3</em> (GPL-3.0). The source is accessible at <a href="https://github.com/Ernir/tome-of-battle-tools">Github.</a></p>
    </div>
{% endblock %}