{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        <h2 id="about">About This Site</h2>

        <p>This site indexes material from the <em>Tome of Battle: the Book of Nine Swords</em>, intended to supplement (but not replace) access to the physical book.</p>

        <p>It currently indexes {{ number }} out of the book's 208 maneuvers.</p>

        <h2 id="changes">Changes from the Text of the Book</h2>

        <p>The text includes all relevant modifications recommended by the <i>Unofficial Errata Project</i> for the Tome of Battle (see <a href="#links">links</a>). </p>

        <h2 id="links">Links</h2>
        <ul>
            <li><a href="http://archive.wizards.com/default.asp?x=dnd/we/20061225a">All Tome of Battle Maneuvers in card format</a> </li>
            <li><a href="http://brilliantgameologists.com/boards/index.php?topic=13292.0">The Unofficial Tome of Battle Errata</a> </li>
            <li><a href="http://www.amazon.com/Tome-Battle-Dungeons-Dragons-Roleplaying/dp/0786939222">The Tome of Battle on Amazon.com</a> - buy it now!</li>
        </ul>

        <h2>Webmaster</h2>
        <p>This site is created and run by Eiríkur Ernir Þorsteinsson.</p>

        <p>I started playing D&D 3.5 about a week before the game's fourth edition came out. I bought the Tome of Battle on April 12, 2009. Of all the books I own, it is the one that has suffered the greatest number of sticky notes.</p>

        <h2 id="legal">Legal Stuff</h2>

        <p><em>Tome of Battle: the Book of Nine Swords</em> is a trademark of Wizards of the Coast, Inc.. Further, the book is protected under the copyright laws of the United States of America. </p>

        <p>However, I (the author of this website) believe the construction of a search engine such as this one falls under the <a href="http://en.wikipedia.org/wiki/Fair_use">fair use exception</a> of copyright law. The site is not run for profit, it only uses content that is available online (see <a href="#links">links</a>), and is very unlikely to impact the copyright holder's ability to profit from the book. The product line the book belongs to has been discontinued and the whole site is rather useless to someone who does not own the book anyway. </p>

        <p>If you are a representative of the copyright holder and find that the existence of the site is somehow not in your interest, drop me a line and I'll take down the offending material.</p>

        <h3 id="license">GNU General Public License</h3>
        <p>This website is an open source program, released under the <em>GNU General Public License, version 3</em> (GPL-3.0). The source is accessible at Github.</p>
    </div>
    {#    33 1st level, 21 2nd level, 31 3rd level, 21 4th level, 28 5th level, 24 6th level, 18 7th level, 23 8th level, 9 9th level#}
{% endblock %}