{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- minified bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="{% static "style.css" %}"/>

    <link rel="shortcut icon" type="image/png" sizes="16x16 24x24 32x32 48x48" href="{% static "favicon.ico" %}"/>

    <title>The Tome of Battle Search Engine</title>
</head>
<body>

<div id="content" class="container">
    {% include "navbar.html" %}
    {% block content %}
        This should be overridden.
    {% endblock %}
</div>

<div id="footer">
    <div class="container text-muted">
        <p class="small"><em>Tome of Battle: Book of the Nine Swords</em> is a trademark of <em>Wizards of the Coast, Inc.</em> in the United States of America. No affiliation is claimed.</p>
    </div>
</div>

<!-- minified jQuery -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- minified bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>