{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <h2>Search parameters</h2>
    <div class="col-xs-6">
        {% crispy form %}
    </div>
    <div class="col-xs-6">

        <p id="results-found" class="alert alert-success">Maneuvers found.</p>

        <p id="results-working" class="alert alert-info">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            Querying...
        </p>

        <p id="results-none" class="alert alert-info">Nothing was found. Try another search?</p>

        <p id="results-error" class="alert alert-danger">Something went wrong with your request. Please check your internet connection and try again.</p>

        <ul id="results-list">
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "search.js" %}"></script>
{% endblock %}